<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ProjectoClimaMasTabBar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E9778D421E788E9D00196AB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9778D5E1E788E9E00196AB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9778D691E788E9E00196AB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
